.pageTxt {
	/*font-family: "Lucida Sans Unicode", Lucida, sans-serif;*/
	font-family: "Bookman Old Style", "Verdana";
}

.boldTxt {
	font-weight: bold;
}

p, .pLi {
	font-size: 16px;
	/*font-family: "Lucida Sans Unicode", Lucida, sans-serif;*/
	font-family: "Bookman Old Style", "Verdana";
}

.container {
	max-width: 960px;
}


