.pageTxt {
	/*font-family: "Lucida Sans Unicode", Lucida, sans-serif;*/
	font-family: "Bookman Old Style", "Verdana", serif;
}

.boldTxt {
	font-weight: bold;
}

p, .pLi {
	font-size: 16px;
	/*font-family: "Lucida Sans Unicode", Lucida, sans-serif;*/
	font-family: "Bookman Old Style", "Verdana", serif;
}


